{% extends 'base.html' %}

{% block title %}List of courses{% endblock %}

{#{% block style %}#}
{##list {#}
{#    font-family: arial, sans-serif;#}
{#    border-collapse: collapse;#}
{#    width: 100%;#}
{##}
{##list td {#}
{#    border: 1px solid #dddd;#}
{#    text-align: left;#}
{#    padding: 8px;#}
{##}
{##list tr:nth-child(even) {#}
{#    background-color: #dddd;#}
{#{% endblock %}#}

{% block content %}
{#    <form method="get">#}
{#        <table>#}
{#            <tr>#}
{#                <td><label for="group_name" style="font-weight: bold;">Group name:</label></td>#}
{#                <td><input type="text" id="group_name" name="group_name" placeholder="A"></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td><label for="students_number" style="font-weight: bold;">Students number:</label></td>#}
{#                <td><input type="number" id="students_number" name="students_number" placeholder="21"></td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td><label for="teacher_last_name" style="font-weight: bold;">Teacher last name:</label></td>#}
{#                <td><input type="text" id="teacher_last_name" name="teacher_last_name" placeholder="Smirnov"></td>#}
{#            </tr>#}
{#        </table>#}
{#        <input type="submit" value="Search">#}
{#    </form>#}
    <br>

      <table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 5%">N</th>
            <th style="width: 25%">Course name</th>
{#            <th style="width: 15%">Students number</th>#}
{#            <th>Group</th>#}
            <th>Start date</th>
            <th>End date</th>
            <th>Group</th>
            {% if user.is_authenticated %}
            <th style="width: 5%"><i class="bi bi-pencil"></i></th>
            <th style="width: 5%"><i class="bi bi-trash3"></i></th>
            {% endif %}
        </tr>
    </thead>
    {% for course in object_list %}
            <tr>
            <td>{{ forloop.counter0|add:page_obj.start_index}}</td>
            <td>{{ course.group_name }}</td>
{#            <td>{{ group.students_number }}</td>#}
{#            <td>{{ course.group.group_name }}</td>#}
            <td>{{ course.start_date }}</td>
            <td>{% if course.end_date %}{{ course.end_date }}{% endif %}</td>
            <td>{{ course.group }}</td>
            {% if user.is_authenticated %}
            <td><a class="btn btn-outline-primary" href="{% url 'courses:update' course.pk %}">Edit</a></td>
            <td><a class="btn btn-outline-primary" href="{% url 'courses:delete' course.pk %}">Delete</a></td>
            {% endif %}
        </tr>
    {% endfor %}
          </table>
{% endblock %}


{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>LMS - {{ title }}</title>#}
{#</head>#}
{#<body>#}
{#    <form method="get">#}
{#        <label for="fname">First name:</label><br>#}
{#        <input type="text" id="fname" name="first_name" placeholder="Bob"><br>#}
{#        <label for="lname">Last name:</label><br>#}
{#        <input type="text" id="lname" name="last_name" placeholder="Dilan"><br>#}
{#        <label for="age_id">Age:</label><br>#}
{#        <input type="number" id="age_id" name="age" placeholder="45"><br>	<br>#}
{##}
{#        <input type="submit" value="Search">#}
{#    </form>#}
{#    <br>#}
{#    <a href="create/">Create</a>#}
{#    <br>#}
{#    <br>#}
{#    {% for student in students %}#}
{#        <a href="update/{{ student.pk }}">Edit</a>&nbsp;&nbsp;{{ student }}<br>#}
{#    {% endfor %}#}
{#</body>#}
{#</html>#}