{% extends 'base.html' %}

{% load crispy_forms_filters %}

{% block title %}Update course{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="mx-auto" style="width: 300px;">
            {{ form | crispy }}
            <div class="mt-2">
                <input class="btn btn-outline-success" type="submit" value="Update">
                <a class="btn btn-outline-dark" href="{% url 'courses:list' %}">Cancel</a>
            </div>
        </div>
    </form>

     <br>
        <div class="accordion" id="accordionExample">
      <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Teachers
   </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
    {% with list_object=course.teachers.all on_group=False%}
        {% include 'includes/teachers_list_table.html' %}
    {% endwith %}
    </div>
    </div>
  </div>
        </div>
    <br>

{#    <br>#}
{#        <div class="accordion" id="accordionExample">#}
{#      <div class="accordion-item">#}
{#    <h2 class="accordion-header" id="headingTwo">#}
{#      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">#}
{#        Teachers#}
{#   </button>#}
{#    </h2>#}
{#    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">#}
{#      <div class="accordion-body">#}
{#    {% with list_object=group.teachers.all on_group=False%}#}
{#        {% include 'includes/teachers_list_table.html' %}#}
{#    {% endwith %}#}
{#    </div>#}
{#    </div>#}
{#  </div>#}
{#        </div>#}
{#    <br>#}
{##}
{#   <div class="accordion" id="accordionExample">#}
{#  <div class="accordion-item">#}
{#    <h2 class="accordion-header" id="headingOne">#}
{#      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">#}
{#        Students#}
{#     </button>#}
{#    </h2>#}
{#    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">#}
{#      <div class="accordion-body">#}
{#    {% with list_object=group.students.all on_group=False %}#}
{#        {% include 'includes/students_list_table.html' %}#}
{#    {% endwith %}#}
{#      </div>#}
{#    </div>#}
{#  </div>#}
{#   </div>#}
{% endblock %}